<div class="chat-container" #target>
    <div *ngFor="let message of chatMessages" [ngClass]="message.role" class="message" id="bot">
      {{ message.content }}
    </div>
    </div>
  
  <div class="input-container">
    <input [(ngModel)]="userMessage" id="input" type="text" placeholder="Ask GPT something..." autocomplete="off" autofocus="autofocus" 
      (keyup.enter)="sendMessage()"/>
    <button *ngIf="!showLoader" (click)="sendMessage()"><div class="circle"><i class="zmdi zmdi-mail-send"></i></div></button>
    <div class="loading" *ngIf="showLoader"> <img src="/assets/loading.gif" height="32" width="32"/></div>   
  </div>
