/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
body, html{
    font-family: 'Roboto';
  
}

* {
    font-size: 2vh;
  }
  
  html {
    --scrollbarBG: #fff;
    --thumbBG: #90a4ae;
  }
  
  body {
    background: #ccc;
  }
